// mixins 


// colors 

$black600 : #777777;

$vista : #8ea4d2;
$glacious : #6279B8;
$vinblue : #49516F;
$hookergreen : #496F5D;
$shamrockgreen : #4C9F70

// font sizes mobile 



// font sizes desktop 




