// mixins 


// colors 

$black600 : #777777;

$vista : #8ea4d2;
$glacious : #6279B8;
$vinblue : #49516F;
$hookergreen : #496F5D;
$shamrockgreen : #4C9F70;

$backgroundPrimary : #F4F9E9;
$filtersColor : #284B63;
$szary : #B4B8AB;
$mocnyFiltersColor : #153243;
$alabaster : #EEF0EB;

// font sizes mobile 


// 


// font sizes desktop 




