// mixins 


// colors 

$black600 : #777777;

$vista : rgb(142, 164, 210);
$glacious : rgb(98, 121, 184);
$vinblue : rgb(73, 81, 111);
$hookergreen : rgb(73, 111, 93);
$shamrockgreen : rgb(76, 159, 112)

// font sizes mobile 



// font sizes desktop 




